.main {
    height: 100%;
    width: 100%;
}

img {
    height: 75vh;
}

.form {
    width: 100%;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.buttons {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    margin-top: 10px;
    height: 40px;
    border: none;
    background: blue;
    color: #fff;
}

input {
    width: 250px;
    height: 30px;
}

.button {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border: none;
    background: green;
    color: #fff;
    margin-left: 8rem;
}